body {
  background-color: #c1c1c1;
}

.div-a {
  background-color: white;
  height: 500px;
  width: 50vw;
  border: 10px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-b {
  background-color: yellow;
  height: 50px;
  width: 30%;
}

.div-c {
  background-color: rgb(200, 47, 0);
  height: 100px;
  width: 30%;
}

.div-d {
  background-color: rgb(26, 241, 26);
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
